// common -------------------------------
$border-radius: 0.25rem;

// body -------------------------------
$body-bg-light: #fafafa;
$body-bg-dark: #18181b;

// header -------------------------------
$header-height: 5rem;
$header-height-mobile: 4rem;

$header-logo-big: 3rem;
$header-logo-mobile: 2.5rem;

$header-bg-light: #fff;
$header-border-light: #e4e4e7;
$header-primary-light: #333;

$header-bg-dark: #27272a;
$header-border-dark: #000;
$header-primary-dark: #fff;

// footer -------------------------------
$footer-height: $header-height;
$footer-height-mobile: $header-height-mobile;

$footer-logo: $header-logo-big;
$footer-logo-mobile: $header-logo-mobile;

$footer-bg: $header-bg-dark;
$footer-border: $header-border-dark;
$footer-primary: $header-primary-dark;

// box -------------------------------
$box-bg-light: $header-bg-light;

$box-bg-dark: $header-bg-dark;

$box-radius: $border-radius;

// post-notice -------------------------------
$notice-text-light: #262626;
$notice-bg-light: #d1fae5;

$notice-text-dark: #fff;
$notice-bg-dark: #064e3b;

$notice-team-bg-light: #fef08a;
$notice-team-bg-dark: #a16207;

$notice-mod-bg-light: $notice-team-bg-light;
$notice-mod-bg-dark: $notice-team-bg-dark;
