// body -------------------------------
$body-bg-light: #fafafa;
$body-bg-dark: #18181b;

// header -------------------------------
$header-bg-light: #fff;
$header-border-light: #e4e4e7;
$header-primary-light: #333;

$header-bg-dark: #27272a;
$header-border-dark: #000;
$header-primary-dark: #fff;
