@import "common/foundation/variables";
@import "variables";

// header -------------------------------
.d-header {
  height: $header-height-mobile;

  &-icons > li {
    margin-left: 1em;
  }
}

// site-logo -------------------------------
#site-logo {
  max-height: $header-logo-mobile !important;

  &.logo-mobile {
    height: $header-logo-mobile;
  }
}

// footer -------------------------------
.d-footer {
  min-height: $footer-height-mobile;
  padding: 1em;
}

.d-footer .contents {
  flex-direction: column;
}

.d-footer-logo {
  height: $footer-logo-mobile;
}

.d-footer-nav {
  margin: 0.5em 0 0;
}
