@import "variables";

// header -------------------------------
.d-header {
  height: $header-height-mobile;

  &-icons > li {
    margin-left: 1rem;
  }
}

// site-logo -------------------------------
#site-logo {
  max-height: $header-logo-mobile !important;

  &.logo-mobile {
    height: $header-logo-mobile;
  }
}

// footer -------------------------------
.d-footer {
  min-height: $footer-height-mobile;
  padding: 1rem;
}

.d-footer .contents {
  flex-direction: column;
}

.d-footer-logo {
  height: $footer-logo-mobile;
}

.d-footer-nav {
  margin: 0.5rem 0 0;
}

// posts -------------------------------
.container.posts {
  gap: 0;
  grid-template-columns: auto auto;
}

// topic-posts -------------------------------
.topic-post:last-of-type {
  padding-bottom: 0;
}

.topic-post article {
  border-top: 0;
  padding: 0;
}
