@import "common/foundation/variables";
@import "variables";

// header -------------------------------
.d-header {
  height: 4em;

  &-icons > li {
    margin-left: 1em;
  }
}

// site-logo -------------------------------
#site-logo {
  max-height: 2.5rem !important;

  &.logo-mobile {
    height: 2.5rem;
  }
}

// footer -------------------------------
.d-footer {
  min-height: 4em;
  padding: 1em;
}

.d-footer .contents {
  flex-direction: column;
}

.d-footer-logo {
  height: 2.5rem;
}

.d-footer-nav {
  margin: 0.5em 0 0;
}
