@import "variables";

// header -------------------------------
// ****** -------------------------------

.d-header {
  height: $header-height-mobile;

  &-icons > li {
    margin-left: 1rem;
  }

  #site-logo {
    max-height: $header-logo-mobile !important;

    &.logo-mobile {
      height: $header-logo-mobile;
    }
  }
}
