// light theme -------------------------------
$light-header-border: #e4e4e7;

// dark theme -------------------------------
$dark-header-border: #000;

// dark-light-choose -------------------------------
$body-bg-image: dark-light-choose($light-body-image, $dark-body-image);

$header-border: dark-light-choose($light-header-border, $dark-header-border);

// custom vars -------------------------------
:root {
  --body-bg-image: url(#{$body-bg-image});

  --header-border: #{$header-border};
}
