@import "variables";

// dark-light-choose -------------------------------
$body-bg-color: dark-light-choose($body-bg-light, $body-bg-dark);
$body-bg-image: dark-light-choose($body-image-light, $body-image-dark);

$header-background: dark-light-choose($header-bg-light, $header-bg-dark);
$header-border: dark-light-choose($header-border-light, $header-border-dark);
$header-primary: dark-light-choose($header-primary-light, $header-primary-dark);

$box-background: dark-light-choose($box-bg-light, $box-bg-dark);

// custom vars -------------------------------
:root {
  --base-font-size: 18px;

  --body_background-color: #{$body-bg-color};
  --body_background-image: url(#{$body-bg-image});

  --header_background: #{$header-background};
  --header_border: #{$header-border};
  --header_primary: #{$header-primary};

  --box_background: #{$box-background};
}
