@import "common/foundation/variables";
@import "variables";

// font -------------------------------
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url($font) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url($font) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url($font) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url($font) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  font-size: 16px;
}

// body background -------------------------------
body {
  background-color: transparent;
  position: relative;
}

#background {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background-image: var(--body_background-image);
  background-repeat: repeat;
  background-color: var(--body_background-color);
  height: 100vh;
  left: 0;
  left: 0;
  min-width: 100vw;
  overflow: hidden;
  position: fixed;
  top: 0;
  top: 0;
  width: auto;
  z-index: -1;
}

// wrap -------------------------------
.wrap {
  max-width: 1280px;
}

// header -------------------------------
.d-header {
  background-color: var(--header_background);
  border-bottom: 1px solid var(--header_border);
  box-shadow: none;

  &-icons .icon {
    border-radius: $border-radius;

    .d-icon {
      color: var(--header_primary);
    }
  }

  .extra-info-wrapper {
    padding: 0 1.5rem 0 1rem;
  }
}

// footer -------------------------------
.d-footer {
  background-color: $footer-bg;
  border-top: 1px solid $footer-border;

  &-nav {
    align-items: center;
    display: flex;
    flex: 0 0 auto;

    a {
      color: $footer-primary;
      padding: 0.5rem 0.75rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  > .wrap {
    height: 100%;
    width: calc(100% - 16px);
  }

  .contents {
    align-items: center;
    display: flex;
    height: 100%;
  }
}

// box -------------------------------
.box,
.topic-post,
.topic-list,
.category-list,
.category-list-item {
  background-color: var(--box_background);
  border-radius: $box-radius;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

// topic-posts -------------------------------
.topic-post {
  margin-bottom: 0.5rem;
  padding: 1rem;

  &.moderator .cooked {
    background-color: var(--notice-team_background);
    border-radius: $border-radius;
    margin-top: 1rem;
    padding: 1rem 1rem 0;
  }

  .topic-meta-data,
  .post-menu-area {
    font-size: 0.875rem;
  }

  .topic-meta-data,
  .post-menu-area {
    margin-bottom: 0;
  }

  .topic-status-info,
  .topic-timer-info {
    border-top: none;
  }

  .post-notice {
    background-color: var(--notice_background);
    border-radius: $border-radius;
    border-top: none;
    color: var(--notice_text);
    margin-bottom: 2rem;
    max-width: 100%;
    padding: 1rem;

    &.custom {
      background-color: var(--notice-team_background);
    }

    .d-icon {
      color: var(--notice_text);
    }
  }
}

// topic-list -------------------------------
.topic-list {
  .topic-list-item-separator td {
    border-bottom: 1px solid var(--topic-separator_color);

    span {
      background-color: var(--box_background) !important;
      color: var(--topic-separator_color);
      font-weight: 600;
    }
  }

  tr:last-of-type {
    border-bottom: none;
  }

  th,
  td {
    padding: 1rem;
  }
}

// small-action  -------------------------------
.small-action {
  border-top: none;
  max-width: 100%;
}

// list-area  -------------------------------
#list-area {
  margin-bottom: 0;
}

// timeline  -------------------------------
.timeline-container {
  .timeline-handle {
    background-color: $primary-color !important;
  }

  .timeline-scrollarea {
    border-color: $primary-color;
  }
}
