@import "common/foundation/variables";
@import "variables";

// header -------------------------------
.d-header {
  height: $header-height;

  &-icons > li {
    margin-left: 1.5em;
  }
}

// site-logo -------------------------------
#site-logo {
  &.logo-big {
    height: $header-logo-big;
  }
}

// footer -------------------------------
.d-footer {
  height: $footer-height;
}

.d-footer-logo {
  height: $footer-logo;
}

.d-footer-nav {
  margin-left: auto;
}
