@import "common/foundation/variables";

// header -------------------------------
.d-header {
  height: 5em;

  &-icons > li {
    margin-left: 1.5em;
  }
}

// site-logo -------------------------------
#site-logo {
  &.logo-big {
    height: 3rem;
  }
}
