@import "variables";

// header -------------------------------
.d-header {
  height: $header-height;

  &-icons > li {
    margin-left: 1.5rem;
  }
}

// site-logo -------------------------------
#site-logo {
  &.logo-big {
    height: $header-logo-big;
  }
}

// footer -------------------------------
.d-footer {
  height: $footer-height;
}

.d-footer-logo {
  height: $footer-logo;
}

.d-footer-nav {
  margin-left: auto;
}

// posts -------------------------------
.container.posts {
  column-gap: 3rem;
  grid-template-columns: auto 25%;
}

// topic-title -------------------------------
#topic-title {
  margin-bottom: 1.5rem;
}

// topic-posts -------------------------------
.topic-post .row {
  display: flex;
}

.topic-post .topic-avatar,
.topic-post .topic-body {
  border-top: none;
  float: none;
}

.topic-post .topic-avatar {
  padding: 1rem 1.5rem 0 0.5rem;
}

.topic-post .topic-body {
  flex-grow: 1;
  padding-top: 0;
}

// topic-list -------------------------------
.topic-list th {
  font-weight: 600;
}

.topic-list th:first-of-type,
.topic-list td:first-of-type {
  padding-left: 16px;
}

.topic-list th:last-of-type,
.topic-list td:last-of-type {
  padding-right: 16px;
}

.topic-list th,
.topic-list td {
  padding: 16px;
}

.topic-list tr:last-of-type {
  border-bottom: none;
}
